{% load i18n %}
{% load comments %}
{% load comments_xtd %}

<div class="comment-wrap">
				<div class="photo">
						<div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg')"></div>
				</div>
				<div class="comment-block">
						<form method="POST" action="{% comment_form_target %}" class="form-horizontal">
  {% csrf_token %}
                        <input type="hidden" name="next" value="/course"/>
								{% for field in form %}
      {% if field.is_hidden %}<div>{{ field }}</div>{% endif %}
    {% endfor %}
    {{ form.comment }}
    <input type="submit" name="post" value="send" class="uk-button uk-button-default"/>
						</form>
				</div>
		</div>